<!doctype html>
  <head>
    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="angprez2App" ng-controller="MainCtrl">

    <!-- Add your site or application content here -->
    <div class="slide">
        <a ng-click="previousSlide()">
            <div class="left-triangle"></div>
        </a>
        <div ng-include="currentSlide()"></div>
        <a ng-click="nextSlide()">
            <div class="right-triangle"></div>
        </a>
    <span class="slideNo">
        <span>{{slideIndex+1}}</span> / <span>8</span>
    </span>
    </div>

    <script src="components/jquery/jquery.js"></script>
    <script src="components/angular/angular.js"></script>

    <!-- build:js scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/directives/slider.js"></script>
    <!-- endbuild -->

  </body>
</html>
